:root {
    --primary-color: #F3C3F7;
    --secondary-color: #3f2727;
    --background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--background-color);
    column-gap: 8px;
    font-size: .8rem;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 6px;
}

header span {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.hamburger {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */

.navigation {
    display: none;
    grid-column: 1 / 4;
    margin-right: 11px;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--background-color);
}

.navigation li.current {
    background-color: var(--background-color);
}

.navigation a:hover {
    background-color: white;
}

/* MAIN */


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

main h1 {
    grid-column: 1 / 3;
}

main button {
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100px;
}

#grid {
    justify-self: end;
    margin-right: 7px;
}

#list {
    margin-left: 7px;
}

#card {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.member-card, .member-list {
    border: solid black 1px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

/* FOOTER */

footer {
    background-color: var(--background-color);
    padding: 1rem 10px;
}

.social {
    display: flex;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--primary-color);
}