
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    background-color: #3a5064;
    padding: 10px;
    color: white;
}

section {
    border: solid 1px black;
    text-align: center;
    padding-bottom: 7px;
    background-color: antiquewhite;
    margin: 10px;
    min-width: 340px;
}

footer {
    display: block;
    background-color: #3a5064;
    color: white;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}